body { 
   display: flex; 
   justify-content: center; 
   align-items: center;
   height: 100dvh;
   margin: 0; 
   font-family: Arial, sans-serif;
}
#container {
   width: 99%;
   height: 98%;
   position: relative;
}
#canvas {
   border: 2px solid #322d2d;
   width: 100%;
   height: 100%;
   background-color: white;
}
.floating-button {
   padding: 8px;
   background-color: #4CAF50;
   color: white;
   border: none;
   cursor: pointer;
   transition: background-color 0.3s;
   margin: 5px;
}
.floating-button:hover {
   background-color: #45a049;
}
#text-inputs {
   position: absolute;
   padding: 15px;
   bottom: 80px;
   left: 0;
   right: 0;
   display: flex;
   justify-content: center;
   gap: 10px;
}
#text-inputs input {
   padding: 5px;
   width: 150px;
}
#button-grid {
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 1px;
   background-color: rgba(255, 255, 255, 0.8);
   padding: 15px;
   border-radius: 10px;
   transition: opacity 0.3s ease;
}
#button-grid.hidden {
   opacity: 0;
   pointer-events: none;
}
#toggle-grid-btn {
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%) translateX(-100%);
   background-color: #2196F3;
   color: white;
   border: none;
   padding: 10px;
   cursor: pointer;
   writing-mode: vertical-rl;
   text-orientation: mixed;
}
#vector-list {
   position: absolute;
   top: 10px;
   left: 10px;
   width: 200px;
   height: 300px;
   background-color: rgba(255, 255, 255, 0.6); /* Transparência aumentada */
   border: 1px solid #322d2d;
   overflow-y: auto;
   padding: 10px;
}
#vector-list.hidden {
   display: none;
}
.vector-item {
   padding: 10px;
   margin: 5px 0;
   background-color: #e0e0e0;
   border: 1px solid #b0b0b0;
   cursor: pointer;
}
.vector-item.selected {
   background-color: #c0c0c0;
}
#toggle-vector-list-btn {
   position: absolute;
   top: 10px;
   left: 220px; /* Ajustado para ficar próximo da lista */
   background-color: #2196F3;
   color: white;
   border: none;
   padding: 10px;
   cursor: pointer;
}
